# Post-build files
Backup/
Temp/
Plugins/*

Source/Packages/

Source/Code/CorePlugin/bin/ 
Source/Code/CorePlugin/obj/ 
Source/Code/CorePlugin/GamePlugin.core.xml 

Source/Code/EditorPlugin/bin/ 
Source/Code/EditorPlugin/obj/ 
Source/Code/EditorPlugin/GamePlugin.core.xml 

Source/Code/ProjectPlugins.v12.suo

# Auto-installed dependencies | User Data | Temp Data
NVorbis.*
OpenTK.GLControl.*
OpenTK.*
FarseerDuality.*
Microsoft.Web.XmlTransform.*
FarseerDuality.*
PopupControl.*
WeifenLuo.WinFormsUI.Docking.*
logfile*.*
perflog*.*
Aga.Controls.*
Duality.*
AdamsLair.WinForms.*
DualityLauncher.*
DualityUpdater.*
DualityPrimitives.*
DDoc.chm
DesignTimeData.dat
DualityEditor.pdb
DualityEditor.xml
